@{
    ViewBag.Title = "继教项目详情";
    Layout = "~/Views/_layoutMember.cshtml";
}
@model Models.edu_item_detail
<div class="item-info">
    <img src="@Model.pic" style="width: 300px;height: 200px">
    <p class="name">@Model.name</p>
    <p>项目类型：@Model.typ<b class="xf">@Model.xf</b>学分</p>
    <p>项目编号：@Model.bh</p>
    <p>负责单位：@Model.fzdw</p>
    <p>项目介绍：</p>
    <p style="color:#c2c2c2">@Model.detail</p>
</div>
<table class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <th style="width:700px">课件目录</th>
            <th style="width:80px">修读类型</th>
            <th style="width:80px">授课老师</th>
            <th style="width:100px">学时/时长</th>
        </tr>
    </thead>
    <tbody class="layui-form">
        @foreach (var item in @Model.keJian)
        {
            <tr>
                <td>@item.title</td>
                <td>@item.typ</td>
                <td>@item.teacher</td>
                <td>@item.xs / @item.sc</td>
            </tr>
        }
    </tbody>
</table>
